.gallery__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.gallery__container article{
    border: 0.2rem solid transparent;
    transition: var(--transition);
}

.gallery__container article:hover{
    border-color: rgb(240, 105, 9);
}


@media screen and (max-width:1024px){
    .galary__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .gallery_container article{
        border: 0;
    }
}

@media screen and(max-width:600px){
    .galary__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}