.main__header{
    width: 100vw;
    height: calc(100vh - 3rem);
    place-items: center;
    display: grid;
}

.main__header-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../images/wal3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30rem;
}

.main__header-left{
    place-items: center;
    margin-left: 1.3rem;
    position: relative;
}

.main__header-circle{
    width: 24rem;
    height: 24rem;
    margin-top: 7rem;
    background:linear-gradient(75deg, rgb(132, 132, 132),transparent) ;
    border-radius: 50%;
    position: absolute;
    filter: blur(5px);
    transition: var(--transition);
    margin-left:3rem;
}
.main__header-image{
    position: relative;
}

.main__header:hover .main__header-circle{
    filter: blur(1px);
}
.main__header-right{
    place-items: center;
    margin-left: 5rem;
    position: relative;
}

.main__header-right h4{
    margin-bottom: 0.5rem;
    color: rgb(250, 248, 248);
    font-weight: 800;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.main__header-right h4 span{
    color: rgb(237, 237, 90);
}

.main__header-right h3{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-left: 3rem;
}
.main__header-right h3 p{
    color: brown;
}

.main__header-right h1{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(233, 231, 231);
}


/* ###########Programs ############## */
.programs{
    margin: 2rem 3rem 0rem 5rem;
}

.programs__wrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 2rem;
    margin-top: 4rem;
}

.programs_program a{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.programs__program small{
    margin-bottom: 1rem;
}




/* ####### Values ############ */
.values__container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 7%;
}

.values__left{
    margin-top: 12rem;
}

.card.value{
    position: relative;
    display: flex;
    background-color: transparent;
    border-color: var(--color-primary);
}
.card.value:hover{
    border-color: red;
}

.values__right > p{
    margin: 1.5rem 0 5rem;
}

.values__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 3rem;
    margin-right: 1rem;
}
.card.values__value {
    padding: 2.4rem;
    text-align: left;
    position: relative;
}

.card.values__value span{
    position:absolute;
    top:-1.5rem
    
}

.value__btn-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values p{
    color: white;
}

.value__btn{
    background: transparent;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-left: 10rem;
}
.value__btn svg{
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}


/* ########### FAQs ################ */

.faqs__wrapper{
    margin-top: 2rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq{
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon{
    background: transparent;
    color: red;
    font-size: 1.5rem
}

.faq p{
    margin-top: 1.5rem;
}



/* ############# testimonials ############ */

/* .testimonials{
    width: 50rem;
    margin-inline-end: auto;
} */
.testimonials{
    width: 25rem;
    height: 25rem;
    margin-inline: auto;
}

.testimonials__head{
    justify-content: center;
    margin-bottom: 2rem;
}

.card.testimonial{
    position: relative;
    text-align: left;
    margin-top: 5rem;
}
.card.testimonial:hover{
    background-color: rgb(8, 38, 68);
}


.testimonial__avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    border: 2px solid transparent;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54,0.4);
    transition: var(--transition);
}

.testimonial:hover .testimonial__avatar{
    border-radius: 3rem;
    border-color: red;
}

.testimonial__quote{
    font-style: italic;
    margin: 1rem 0 2rem;
    color: white;
}

.card.testimonial small{
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
.card.testimonial:hover small{
    color: rgb(240, 106, 23);
    font-size: 1.5rem;
    font-weight: 700;
}

.testimonials__btn-container{
    width: fit-content;
    margin: rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.testimonials__btn{
    background: transparent;
    cursor: pointer;
}
.testimonials__btn svg{
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}



/* ###########  Footer ################ */
footer{
    background: var(--color-bg-variant);
    margin-top: 12rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    font-size: 0.9rem;
    color: var(--color-white);
}

.footer-container{
    display: grid;
    grid-template-columns: 20rem 1fr 1fr 1fr;
    gap:5rem;
    margin-left: 3rem;
}

.footer-container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}


.footer-container article p{
    margin-top: 0.5rem;
}


.footer-container article h4{
    margin-bottom: 0.8rem;
}

.footer__socials{
    margin-top: 0.8rem;
    gap: 1rem;
    display: flex;
    align-items: center;
   
}

.footer__socials a{
    font-size: 1.5rem;
    padding: 0.3rem;
    border: 1px transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}
/* .footer-container article .logo{
    width: 20%;
    height: 20%;
} */

/* .footer__copyright{
    margin-top: 2rem;
    text-align: center;
    border-top: 2px solid var(--color-primary);
} */



.swiper {
    width: 500px;
    height: 500px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-image: url("https://images.unsplash.com/photo-1610312856669-2cee66b2949c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9keWJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
  
  .swiper-slide:nth-child(2n) {
    background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9keWJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(3n) {
    background-image: url("https://images.unsplash.com/photo-1636007596622-90bf5679f5dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Ym9keWJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(4n) {
    background-image: url("https://images.unsplash.com/photo-1627063383848-990b09ca1617?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJvZHlidWlsZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(5n) {
    background-image: url("https://images.unsplash.com/photo-1584380931214-dbb5b72e7fd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJvZHlidWlsZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(6n) {
    background-image: url("https://images.unsplash.com/photo-1628884879718-60dd217d5c9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJvZHlidWlsZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(7n) {
    background-image: url("https://images.unsplash.com/photo-1611603640928-0a26c496f47e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvZHlidWlsZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(8n) {
    background-image: url("https://images.unsplash.com/photo-1545346315-f4c47e3e1b55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJvZHlidWlsZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(9n) {
    background-image: url("https://images.unsplash.com/photo-1577221084712-45b0445d2b00?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keWJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .swiper-slide:nth-child(10n) {
    background-image: url("https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  }
  






/* ====================== media for mediam (Tablet) devices ================== */
@media screen and (max-width:1024px){
    .main__header{
        height: fit-content;
        width: 100%;
    }

    .main__header-container{
        gap: 0;
    }
    .main__header-circle{
        width: 12rem;
        height: 12rem;
    }

    .programs__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .values__container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .values__wrapper{
        gap: 4rem 3rem;
    }
    /* .val__image{
        display: none;
    } */

    .faqs__wrapper{
        grid-template-columns: 1fr;
    }

    .testimonials{
        width: 75%;
    }

    .footer-container{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

/* ====================== media for small devices ================== */
@media screen and (max-width:600px){
    .main__header{
        margin-top: 0;
        height: 100Vh;
    }
    .main__header-image , .main__header-circle{
        display: none;
    }

    .main__header-container{
        grid-template-columns: 1fr;
    }
    
    .programs{
        margin-top: 6rem;
    }
    .programs__wrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }
    .programs_program{
        width: 85%;
        margin: 0 auto;
    }

    .values__wrapper{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .values__left{
        display: none;
    }

    .card.values__value{
        width: 85%;
        margin-inline: auto;
    }



    .faqs__wrapper{
        gap: 1rem;
        margin-top: 1rem;
    }

    .testimonials{
        width: 100%;
        margin-left: 1rem;
    }

    .footer{
        margin-top: 7rem;
    }
    .footer-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .footer-container article{
        align-items: center;
    }
    .footer-container p{
        margin-right: 1rem;
        text-align: center;
    }
}




